body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bp3-dark {
  background-color: rgb(48, 64, 75);
}

#main {
  width: 100%;
  height: 100%;
}

.login-screen {
  padding: 1em;
}

.login-screen-inner {
  display: block;
  border: 2px dashed rgb(198, 213, 228);
  height: 100%;
}

.login-screen-inner2 {
  max-width: 200px;
  margin: auto;
}

.login-screen-inner img {
  display: block;
  margin: auto;
  margin-bottom: 1em;
}

.login-screen .login-form input, .login-screen .login-form button {
  display: block;
  margin: auto;
  margin-top: 0.2em;
}

.login-screen .login-form button {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.navbar {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(40, 45, 51);
  border-bottom: 1px solid white;
}

.navbar .branding {
  line-height: 40px;
}

.navbar .logo {
  height: 40px;
}

.navbar button {
  float: right;
  margin: 1em;
}

.dashboard .inner {
  max-width: 700px;
  padding: 0em 1em;
  margin: auto;
}

.playlist-list {
  margin-top: 1em;
}

.playlist-card {
  font-size: 200%;
  /*border: 1px solid white;*/
}

.playlist-card .number {
  display: inline-block;
  padding: 0.5em;
  width: 2.5em;
  margin-right: 0.5em;
  font-style: italic;
  border-right: 1px solid white;
}
